.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.cjs
.pnp.loader.mjs
.yarn

*.ignore.*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

/.pnp
/build
/coverage

dev-dist
dist
dist-ssr
logs
node_modules

lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

analyse.html
tsconfig.tsbuildinfo