.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.cjs
.pnp.loader.mjs
.yarn

*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.ignore.*

/.pnp
/build
/coverage

dist
dist-ssr
dev-dist
lerna-debug.log*
logs
node_modules
tsconfig.tsbuildinfo

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*